* {
    font-family: 'Cinzel', serif;
    --primary-color: #4b9cd3;
    --accent-color: #13294B;
    box-sizing: 0;
}

body {
    background-color: lightgray;
}

header {
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 1%;
}

.content {
    padding: 1%;
    border-radius: 10px;
}

#searchButton {
    background-color: var(--accent-color);
}

#searchBar {
    padding: 1%;
}

#searchBox {
    margin-left: 1%;
    background-color: var(--primary-color);
}

#recentCities {
    color: black;
}

#weatherBox {
    background-color: white;
}

hr {
    border-style: solid;
}

#weatherToday {
    font-size: large;
}

#weatherToday h6 {
    font-size: small;
}

.greenUV {
    background-color: green;
    color: white;
}

.yellowUV {
    background-color: yellow;
}

.redUV {
    background-color: red;
    color: white;
}

#currentUVIndex {
    margin: 1%;
}

.savedCities {
    background-color: white;
}

card div {
    font-size: smaller;
}